## Tuples in Python 
- Creating tuples
- Accessing tuples
- methods 
- packing and unpacking
- etc

In [ ]:
## Tuples
## Immutable 

tpl = (1,"Haseeb", 5.7, True)
print(type(tpl))

<class 'tuple'>

In [2]:
tpl = 1,2,4,5,6
print(type(tpl))

<class 'tuple'>

In [ ]:
lst = [1,2,3,4,4,'Haseeb', 'Subhan', 'Rubab', True, False, 6.2,5.7]

tpl = tuple(lst) ## Type Casting 
print(type(tpl))

<class 'tuple'>

In [ ]:
## Accessing Tuples
## Indexing 
print(tpl[2])
print(tpl[9])


## Slicing Operations

print(tpl[0:])
print(tpl[:5])
print(tpl[2:7])
print(tpl[4::2])


## Reverse form

3
False
(1, 2, 3, 4, 4, 'Haseeb', 'Subhan', 'Rubab', True, False, 6.2, 5.7)
(1, 2, 3, 4, 4)
(3, 4, 4, 'Haseeb', 'Subhan')
(4, 'Subhan', True, 6.2)

In [7]:
## Operations and Methods 

print(tpl.count('Subhan'))
print(tpl.index('Subhan'))

1
6

In [ ]:
## Concatenation

numbers = (1,2,4,5,6,7,7)

mixed_tpl = tpl + numbers

print(mixed_tpl)

(1, 2, 3, 4, 4, 'Haseeb', 'Subhan', 'Rubab', True, False, 6.2, 5.7, 1, 2, 4, 5, 6, 7, 7)

In [10]:
## Packing and Unpacking

tpl = 2,3,4,5,"haseeb", '21', "Microbiology"

In [ ]:
## Unpacking tuple with *

first, *middle, last = tpl

print(first)
print(middle)
print(last)

2
[3, 4, 5, 'haseeb', '21']
Microbiology

In [13]:
## 2nd technique for unpacking tuples

tpl = "Haseeb", "subhan", "Rubab"

a,b,c = tpl
print(a)
print(b)
print(c)

Haseeb
subhan
Rubab

In [ ]:
## Iterating over tuples
tpl = 2,3,4,5,"haseeb", '21', "Microbiology"


for i in tpl:
    print(f"Hi,{i}")

Hi,2
Hi,3
Hi,4
Hi,5
Hi,haseeb
Hi,21
Hi,Microbiology

In [ ]:
## Nested Tuples

nested_list = [[1,2,3,4],['Haseeb','Raza', "Subhan"],[True, False, True, False]]

nested_tuple = ((1,2,3,4),('Haseeb','Raza', "Subhan"),(True, False, True, False))

In [18]:
for i in nested_tuple:
    for j in i:
        print(f"{j*2}")

2
4
6
8
HaseebHaseeb
RazaRaza
SubhanSubhan
2
0
2
0

In [19]:
## Nested Tuples

nested_list = [[1,2,3,4],['Haseeb','Raza', "Subhan"],[True, False, True, False]]

nested_tuple = ((1,2,3,4),('Haseeb','Raza', "Subhan"),(True, False, True, False))

In [21]:
## Modifying the list element

nested_list[0][2] = "UAF"
print(nested_list)

[[1, 2, 'UAF', 4], ['Haseeb', 'Raza', 'Subhan'], [True, False, True, False]]

In [22]:
## Modifying the Tuple

nested_tuple[1][1]="Second Name"

print(nested_tuple)

TypeError: 'tuple' object does not support item assignment