## Dictionaries in Python

In [1]:
## Creating Dictionaries 

dict_1 = {}
print(type(dict_1))

<class 'dict'>

In [3]:
dict_1 = {"name":"Haseeb","age":21,"field":"Data Science" }
print(dict_1)

{'name': 'Haseeb', 'age': 21, 'field': 'Data Science'}

- Key: Unique, Immutable

In [5]:
## Accessing Data OTBO keys 

print(dict_1["name"])
print(dict_1["age"])

Haseeb
21

In [6]:
dict_1 = {"name":"Haseeb","age":21,"field":"Data Science", "name":"Ali" }

print(dict_1)

{'name': 'Ali', 'age': 21, 'field': 'Data Science'}

In [7]:
## Dictionary Methods

## Accessing Data OTBO keys 

print(dict_1["name"])
print(dict_1["age"])

## Accessing data using dictionary methods

print(dict_1.get("name"))
print(dict_1.get("age"))

Ali
21
Ali
21

In [9]:
## Others Methods 

keys = dict_1.keys()
values = dict_1.values()
items  = dict_1.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'field'])
dict_values(['Ali', 21, 'Data Science'])
dict_items([('name', 'Ali'), ('age', 21), ('field', 'Data Science')])

In [10]:
## Shallow Copy

clone_1 = dict_1

print(clone_1)

{'name': 'Ali', 'age': 21, 'field': 'Data Science'}

In [11]:
dict_1["name"] = "Haseeb"

print(dict_1)
print(clone_1)

{'name': 'Haseeb', 'age': 21, 'field': 'Data Science'}
{'name': 'Haseeb', 'age': 21, 'field': 'Data Science'}

In [12]:
clone_2 = dict_1.copy()

dict_1["name"] = "Alishba"

print(dict_1)
print(clone_2)

{'name': 'Alishba', 'age': 21, 'field': 'Data Science'}
{'name': 'Haseeb', 'age': 21, 'field': 'Data Science'}

In [13]:
## Update, Delete,  and  Adding new records


dict_1["age"] = 23 ## Updating an existing record
print(dict_1)

dict_1["city"] = "Faisalabad" ## Adding new records to an existing dictionary
print(dict_1)

del dict_1["city"]

print(dict_1)

{'name': 'Alishba', 'age': 23, 'field': 'Data Science'}
{'name': 'Alishba', 'age': 23, 'field': 'Data Science', 'city': 'Faisalabad'}
{'name': 'Alishba', 'age': 23, 'field': 'Data Science'}

In [16]:
## Iterating over Dictionaries 

for i in dict_1.keys():
    print(i)

name
age
field

In [15]:
for value in dict_1.values():
    print(value)

Alishba
23
Data Science

In [17]:
for key,value in dict_1.items():
    print(f"{key}: {value}")

name: Alishba
age: 23
field: Data Science

In [18]:
## Nested Dictionaries

nest_di = {
    '2022-ag-4002' : {'name':'Haseeb', 'age':21, 'Dept':'IOM', 'Club': 'YPDC'},
    '2022-ag-4004' : { 'name': 'XYZ', 'age':21,'Dept':'IOM', 'Club': 'YPDC' }
}

print(nest_di['2022-ag-4002'])
print(nest_di['2022-ag-4004'])

{'name': 'Haseeb', 'age': 21, 'Dept': 'IOM', 'Club': 'YPDC'}
{'name': 'XYZ', 'age': 21, 'Dept': 'IOM', 'Club': 'YPDC'}

In [20]:
## Iterating over Nested Dictionaries

for key,value in nest_di.items():
    for i,j in value.items():
        print(f"{key} -> {i} : {j}")

2022-ag-4002 -> name : Haseeb
2022-ag-4002 -> age : 21
2022-ag-4002 -> Dept : IOM
2022-ag-4002 -> Club : YPDC
2022-ag-4004 -> name : XYZ
2022-ag-4004 -> age : 21
2022-ag-4004 -> Dept : IOM
2022-ag-4004 -> Club : YPDC

In [23]:
## 

numbers = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,5,5,5,5,6,6,9,9,7,7,0]

frequency = {}


for i in numbers:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1

        

print(frequency)

{1: 3, 2: 3, 3: 3, 4: 3, 5: 8, 6: 2, 9: 2, 7: 2, 0: 1}

In [24]:
## 
import json

In [25]:
parsed_data =  json.dumps(dict_1)

In [26]:
print(parsed_data)

{"name": "Alishba", "age": 23, "field": "Data Science"}

In [ ]:
## Converting to json strings

parsed_data = json.dumps(nest_di)
print(parsed_data)

nested_di = json.loads(parsed_data)
print(nested_di)

{"2022-ag-4002": {"name": "Haseeb", "age": 21, "Dept": "IOM", "Club": "YPDC"}, "2022-ag-4004": {"name": "XYZ", "age": 21, "Dept": "IOM", "Club": "YPDC"}}
{'2022-ag-4002': {'name': 'Haseeb', 'age': 21, 'Dept': 'IOM', 'Club': 'YPDC'}, '2022-ag-4004': {'name': 'XYZ', 'age': 21, 'Dept': 'IOM', 'Club': 'YPDC'}}